/* PLAIN ELEMENTS STYLE
   =============================================== */

html {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $color-text;
}
