/* PLAIN ELEMENTS STYLE
   =============================================== */

html {
  font-family: $base-font-family;
  color: $color-text;
  touch-action: manipulation; // iOS fast tap

  @each $key, $value in $font-size {
    @include mq(map-get($breakpoints, $key)) {
      font-size: $value;
      line-height: map-get($line-height, $key);
    }
  }
}
