
/* TYPOGRAPHY
   =============================================== */

$base-font-size: 16px;
$base-line-height: 20px;
$base-font-family: sans-serif;


/* COLORS
   =============================================== */

$color-text: #333333;
$color-links: #0070a5;
$color-error: #D21717;


/* MEDIA QUERIES
   =============================================== */

$sm: max-width 649px;
$md: 650px;
$lg: 1000px;
$xl: 1250px;
$hd: 1900px;


/* CROSS APP / COMPONENTS VARIABLES
   =============================================== */

