{
  "presets": [
    "es2015",
    "react",
    "stage-2"
  ],
  "plugins": ["lodash"],
  "retainLines": true,
  "sourceMaps": "inline",
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  }
}
