# ignore node modules folder
node_modules

# ignore bower folder
bower_components

# ignore code coverage
coverage

# ignore build app
public/assets
public/index.html

# ignore environment vars
.env

