{
  "rules": {
    "at-rule-no-vendor-prefix": true,
    "block-closing-brace-newline-after": ["always-multi-line", { "severity": "warning" }],
    "block-closing-brace-newline-before": ["always-multi-line", { "severity": "warning" }],
    "block-closing-brace-space-before": ["always-single-line", { "severity": "warning" }],
    "block-opening-brace-newline-after": ["always-multi-line", { "severity": "warning" }],
    "block-opening-brace-space-before": ["always", { "severity": "warning" }],
    "color-hex-case": ["upper", { "severity": "warning" }],
    "color-hex-length": ["short", { "severity": "warning" }],
    "color-named": ["never", { "severity": "warning" }],
    "color-no-invalid-hex": true,
    "comment-whitespace-inside": ["always", { "severity": "warning" }],
    "custom-property-no-outside-root": true,
    "declaration-bang-space-after": "never",
    "declaration-bang-space-before": "always",
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-shorthand-property-overrides": true,
    "declaration-block-semicolon-newline-after": ["always-multi-line", { "severity": "warning" }],
    "declaration-block-semicolon-newline-before": ["never-multi-line", { "severity": "warning" }],
    "declaration-block-semicolon-space-after": ["always-single-line", { "severity": "warning" }],
    "declaration-block-semicolon-space-before": ["never", { "severity": "warning" }],
    "declaration-block-trailing-semicolon": "always",
    "declaration-colon-space-after": ["always", { "severity": "warning" }],
    "declaration-colon-space-before": ["never", { "severity": "warning" }],
    "function-calc-no-unspaced-operator": true,
    "function-comma-space-after": ["always-single-line", { "severity": "warning" }],
    "function-comma-space-before": ["never", { "severity": "warning" }],
    "function-linear-gradient-no-nonstandard-direction": true,
    "function-parentheses-space-inside": ["never-single-line", { "severity": "warning" }],
    "function-url-quotes": "always",
    "indentation": 2,
    "length-zero-no-unit": true,
    "max-nesting-depth": [4, { "severity": "warning" }],
    "no-duplicate-selectors": true,
    "no-eol-whitespace": [true, { "severity": "warning" }],
    "no-invalid-double-slash-comments": true,
    "number-leading-zero": ["always", { "severity": "warning" }],
    "number-max-precision": [4, { "severity": "warning" }],
    "property-no-vendor-prefix": true,
    "root-no-standard-properties": true,
    "selector-combinator-space-after": ["always", { "severity": "warning" }],
    "selector-combinator-space-before": ["always", { "severity": "warning" }],
    "selector-no-id": true,
    "selector-no-universal": true,
    "selector-no-vendor-prefix": true,
    "selector-pseudo-element-colon-notation": "single",
    "selector-root-no-composition": true,
    "selector-type-case": "lower",
    "string-no-newline": [true, { "severity": "warning" }],
    "unit-blacklist": ["ms", "in", "cm", "pt"],
    "value-no-vendor-prefix": true
  }
}
