doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable" content="yes")
    //- meta(name="theme-color" content="#9d1c22")
    title App
    link(rel="shortcut icon" href="favicon.ico")

    if env != 'development'
      link(rel="stylesheet" href="/assets/app.css")

    //- link(rel="icon" sizes="256x256" href="app-icon.png")
    //- link(rel="apple-touch-icon" sizes="256x256" href="app-icon.png")

  body
    #app
      != renderedApp

    script(async defer src="/assets/app.js")

    //- Google Analytics
    if env == 'production'
      script.
        (function(i,s,o,g,r,a,m){
          i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();
          a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-XXXXXX-1', 'auto');
        ga('send', 'pageview');
    else
      script.
        var ga = console.info.bind(console);
