.App {
  padding: 2rem;

  &:after {
    content: '';
    display: block;
    width: 5rem;
    height: 5rem;
    background: #EEE url('./assets/images/img.png') 0 0 no-repeat;
    background-size: contain;
  }
}

.App .App {
  &-btnAdd {
    color: $color-links;
  }
}
